.item {
  box-sizing: border-box;
  padding: 4px;
  cursor: default;
  overflow: hidden;
}
.card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-top: 21px;
}
.info {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: -7px;
  margin-bottom: 7px;
}
.avatar img {
  border-radius: 50%;
  height: 50px;
}
.meta {
  margin-top: -10px;
  margin-left: 16px;
}
.username {
  font-weight: bold;
  color: rgb(66, 127, 237);
  text-decoration: none;
  margin-bottom: 7px;
}
.circle-time {
  color: rgb(170, 170, 170);
}
.circle-time core-icon {
  width: 13px;
  height: 13px;
  margin-right: 10px;
}
.circle-time .timestamp {
  font-size: 11px;
}
.post {
  font-size: 14px;
  padding: 0 12px 12px;
}
.media core-image {
  max-width: 100%;
}
